# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# Translations
*.mo
*.pot

# Folders
.vscode/
build/
dist/

# Outputs of ergo compilation
./run
run
run.exe
